# Maven
target/
**/target/

# Logs
logs/

# Environment
.env

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# Eclipse
.eclipse/
.project/
.classpath/
.settings/

# OS
.DS_Store
